/* CSS version 2.1 https: //github.com/stadium-software/datagrid-inline-edit */
.datagrid-inline-edit-form {
	:has(#table-clone) :is(.data-grid-header, tfoot) {
		display: none;
	}
	& .visually-hidden {
		height: 0;
		width: 0;
		overflow: hidden;
		outline: 0;
		border: 0;
		position: absolute;
		padding: 0;
	}
	& .edit-button-bar {
		display: flex;
		flex-direction: row;
		gap: 6px;
		align-items: center;
	}
	& table .form-control {
		width: var(--datagrid-inline-edit-text-field-size, auto);
	}
	& table select.form-control {
		width: var(--datagrid-inline-edit-dropdown-field-size, auto);
	}
	& table input[type="date"].form-control {
		width: var(--datagrid-inline-edit-date-field-size, auto);
	}
	& table input[type="number"].form-control {
		width: var(--datagrid-inline-edit-number-field-size, 80px);
	}
	& .table-striped > tbody > tr.editing:nth-of-type(odd),
	& .table-striped>tbody>tr.editing:nth-of-type(even) {
		background-color: var(--datagrid-inline-edit-active-row-background-color, var(--CONTRAST-THEME-COLOR));
		& td {
			border-top: 1px solid var(--datagrid-inline-edit-active-row-border-top-color, var(--MAIN-THEME-COLOR));
			border-bottom: 1px solid var(--datagrid-inline-edit-active-row-border-bottom-color, var(--MAIN-THEME-COLOR));
		}
		& .last-visible-column {
			border-right: 1px solid var(--datagrid-inline-edit-active-row-border-right-color, var(--MAIN-THEME-COLOR));
		}
		& td:first-child {
			border-left: 1px solid var(--datagrid-inline-edit-active-row-border-left-color, var(--MAIN-THEME-COLOR));
		}
	}
	& .inline-edit-hide {
		display: none;
	}
	& .stadium-form-save {
		font-size: var(--row-inline-edit-button-font-size, var(--FORM-CONTROL-FONT-SIZE));
		background-color: var(--row-inline-edit-button-background-color, var(--SECONDARY-THEME-COLOR));
		border: 1px solid var(--row-inline-edit-button-border-color, var(--SECONDARY-THEME-COLOR));
		padding: var(--row-inline-edit-button-topbottom-padding, 6px) var(--row-inline-edit-button-rightleft-padding, 6px);
		color: var(--row-inline-edit-button-font-color, var(--CONTRAST-THEME-COLOR));
	}
	& .opacity {
		opacity: var(--row-inline-edit-disabled-rows-opacity, .6);
	}
	& .data-grid-container .table-striped>tbody>tr.edit-form {
		background-color: var(--row-inline-edit-row-background-color, var(--SECONDARY-THEME-COLOR));
	}
	& .data-grid-container .table-striped.edit-orig-table {
		display: none;
	}
	& .edit-orig {
		height: 0;
		width: 0;
		overflow: hidden;
		outline: 0;
		border: 0;
		position: absolute;
		padding: 0;
	}
}
#app button.btn.btn-default.visually-hidden {
	height: 0;
	width: 0;
	overflow: hidden;
	outline: 0;
	border: 0;
	position: absolute;
	padding: 0;
}